<div id="about-container">
  <h2>Drink, Eat and Enjoy!</h2>
  <div class="about-image-group" fxflex fxlayout="row" fxLayoutGap="5px" fxLayoutAlign="center stretch">
    <img fxHide fxShow.gt-sm src="http://res.cloudinary.com/dokawurtl/image/upload/c_scale,w_200/v1491059350/coffee_shop_demo/coffee-tablet-headphones-work.jpg" alt="">
    <img src="http://res.cloudinary.com/dokawurtl/image/upload/c_scale,w_200/v1491059350/coffee_shop_demo/compass-coffee.jpg" alt="">
    <img fxHide fxShow.gt-sm src="http://res.cloudinary.com/dokawurtl/image/upload/c_scale,w_200/v1491059350/coffee_shop_demo/coffee-bean1.jpg" alt="">
  </div>
  <p>Aged dripper rich white ut, café au lait strong robust kopi-luwak flavour acerbic. Coffee single origin seasonal spoon grounds medium beans.</p>
  <p>Viennese, as, frappuccino chicory decaffeinated so cinnamon galão. Organic, qui seasonal sweet, mazagran café au lait sit brewed chicory brewed irish.</p>
  <p>Cappuccino, so, white, so cappuccino, grounds cinnamon kopi-luwak robusta java. Skinny grounds aroma ristretto id rich latte aftertaste cream seasonal.</p>
  <p>Robusta aged, spoon redeye rich ristretto redeye. Cappuccino caramelization skinny sweet cup black mocha doppio grinder.</p>
  <div class="about-image-group">
  
  </div>
</div>
