h1 {
  font-family: 'Marcellus SC', serif;
  font-size: 2.5em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-family: 'Marcellus SC', serif;
  font-size: 1.2em;
  margin-top: 0;
  padding-top: 0;
}
nav {
  background-color: #000;
}
nav a {
  font-family: 'Marcellus SC', serif;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  width: 160px; 
  height: 40px;
  font-size: 24px;
  text-align: center;
  color: #FFF;
}
/*nav a:visited, a:link {
  color: #607D8B;
}*/
nav a:hover {
  color: #DDD;
}
nav a.active {
  color: #E1DECE;
}

#about-container {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  width: 50%;
  margin: 40px auto;
}

#about-container h2 {
  font-size: 24px; 
  font-family: 'Arimo', sans-serif;
  text-align: center;
}

#coffee-list {
  width: 50%;
  margin: 30px auto;
}

#coffee-list:last-child {
  margin-bottom: 40px;
}

.coffee-list-item {
  font-family: 'News Cycle', sans-serif;
  font-size: 18px;
  margin: 0 5px 40px 5px;
  width: 150px;
}

.coffee-list-item h2 {
  font-family: 'Marcellus SC', serif;
  font-size: 20px;
}

.coffee-list-item p {
  line-height: 18px;
  margin-bottom: 2px;
  margin-top: 6px;
}


/* MENU */

#menu-header {
  font-family: 'Marcellus SC', sans-serif;
  font-size: 36px;
  margin: 30px 0;
  text-align: center;
  text-decoration: underline;
  width: 100%;
}

.menu-layout-block {
  height: 450px;
  padding-left: 10px;
}

.last-menu-layout-block {
  margin-bottom: 120px;
}

.menu-image {
  height: 380px;
  margin: 5% auto;
}

.menu-image img {
  height: 90%;
  width: 70%;
  padding-left: 5%;
}

.menu-container {
  /*width: 40%;*/
  margin: 10px auto;
}

.menu-container h2 {
  font-size: 24px;
}

.menu-listing {
  font-family: 'News Cycle', sans-serif;
  font-size: 20px;
  line-height: 20px;
  padding-left: 5px;
}

.menu-listing h3, .menu-listing p {
  /*vertical-align: middle;*/
}

.menu-listing h3 {
  /*margin-bottom: 16px;*/
}

.menu-thumbnail-image {
  height: 170px;
  width: 40%;
  margin: auto;
}

.menu-thumbnail-image img {
  height: 150px;
  margin: 30px auto 10px auto;
}

.last-menu-thumbnail-image {
  margin-bottom: 140px;
}

/* Media Queries*/
@media screen and (max-width: 550px) {
  
  nav a {
    width: 100px;
    font-size: 22px;
  }
  
  .menu-layout-block {
    height: 250px;
  }
  
  .menu-listing {
    font-size: 14px;
    line-height: 14px;
  }
  
  .menu-listing h3, .menu-listing p {
    margin: 4px 0;
  }
  
  .last-menu-layout-block {
    margin-bottom: 20px;
  }
}
