h1 {
  font-family: 'Marcellus SC', serif;
  font-size: 2.5em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-family: 'Marcellus SC', serif;
  font-size: 1.2em;
  margin-top: 0;
  padding-top: 0;
}
nav {
  background-color: #000;
}
nav a {
  font-family: 'Marcellus SC', serif;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  width: 120px; 
  height: 40px;
  font-size: 20px;
  text-align: center;
  color: #FFF;
}
/*nav a:visited, a:link {
  color: #607D8B;
}*/
nav a:hover {
  color: #DDD;
}
nav a.active {
  color: #E1DECE;
}

#about-container {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  width: 50%;
  margin: 40px auto;
}

#about-container h2 {
  font-size: 24px; 
  font-family: 'Arimo', sans-serif;
  text-align: center;
}

#coffee-list {
  width: 50%;
  margin: 30px auto;
}

.coffee-list-item {
  font-family: 'News Cycle', sans-serif;
  font-size: 18px;
  margin: 0 5px 40px 5px;
  width: 150px;
}

.coffee-list-item h2 {
  font-family: 'Marcellus SC', serif;
  font-size: 20px;
}

.coffee-list-item p {
  line-height: 18px;
  margin-bottom: 2px;
}


/* MENU */
.menu-layout-block {
  
}

.menu-image img {
  width: 90%;
  margin: 20% auto;
}

.menu-container {
  width: 40%;
  margin: 60px auto;
}

.menu-container h2 {
  font-size: 24px;
}

.menu-listing {
  font-family: 'News Cycle', sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.menu-listing h3, .menu-listing p {
  vertical-align: middle;
  margin-top: 16px;
  margin-bottom: 16px;
}
