<div class="menu-layout-block" fxflex fxlayout="row" fxLayoutGap="10px" fxLayoutWrap="nowrap" fxLayoutAlign="center start">
  <div id="menu-container-1" class="menu-container" fxFlex="100" fxFlex.gt-sm="50">
    <h2>Hot Beverages</h2>
    <div *ngFor="let menuitem of menuHotBev" class="menu-listing" fxflex fxlayout="row" fxLayoutGap="30px" fxLayoutWrap="nowrap" fxLayoutAlign="start start">
      <h3 fxFlex="40">{{ menuitem.name }}</h3>
      <p fxFlex="20" *ngFor="let price of menuitem.prices" >{{ price }}</p>
    </div>
  </div>
  <div class="menu-image" fxFlex="50" fxHide fxShow.gt-sm="true">
    <img src="http://res.cloudinary.com/dokawurtl/image/upload/c_scale,h_400/v1490907441/coffee_shop_demo/coffee1.jpg">
  </div>
</div>
<div class="menu-layout-block" fxflex fxlayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
  <div class="menu-image" fxFlex="50" fxHide fxShow.gt-sm="true">
    <img src="http://res.cloudinary.com/dokawurtl/image/upload/c_scale,h_400/v1490907441/coffee_shop_demo/iceteamason.jpg">
  </div>
  <div id="menu-container-2" class="menu-container" fxFlex="100" fxFlex.gt-sm="50">
    <h2>Cold Beverages</h2>
    <div *ngFor="let menuitem of menuColdBev" class="menu-listing" fxflex fxlayout="row" fxLayoutGap="30px" fxLayoutWrap="nowrap" fxLayoutAlign="start start">
      <h3 fxFlex="40">{{ menuitem.name }}</h3>
      <p fxFlex="20" *ngFor="let price of menuitem.prices" >{{ price }}</p>
    </div>
  </div>
</div>
<div class="menu-layout-block" fxflex fxlayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
  <div id="menu-container-3" class="menu-container"  fxFlex="100" fxFlex.gt-sm="50">
    <h2>Breakfast</h2>
    <div *ngFor="let menuitem of menuBreakfast" class="menu-listing" fxflex fxlayout="row" fxLayoutGap="30px" fxLayoutWrap="nowrap" fxLayoutAlign="start start">
      <h3 fxFlex="60">{{ menuitem.name }}</h3>
      <p fxFlex="40" *ngFor="let price of menuitem.prices" >{{ price }}</p>
    </div>
  </div>
  <div class="menu-image" fxFlex="50" fxHide fxShow.gt-sm="true">
    <img src="http://res.cloudinary.com/dokawurtl/image/upload/c_scale,h_400/v1490907433/coffee_shop_demo/breakfastsandwich.jpg">
  </div>
</div>
<div class="menu-layout-block" fxflex fxlayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
  <div class="menu-image" fxFlex="50" fxHide fxShow.gt-sm="true">
    <img src="http://res.cloudinary.com/dokawurtl/image/upload/c_scale,h_400/v1490907441/coffee_shop_demo/pastry2.jpg">
  </div>
  <div id="menu-container-4" class="menu-container" fxFlex="100" fxFlex.gt-sm="50">
    <h2>Pastries</h2>
    <div *ngFor="let menuitem of menuPastries" class="menu-listing" fxflex fxlayout="row" fxLayoutGap="30px" fxLayoutWrap="nowrap" fxLayoutAlign="start start">
      <h3 fxFlex="60">{{ menuitem.name }}</h3>
      <p fxFlex="40" *ngFor="let price of menuitem.prices" >{{ price }}</p>
    </div>
  </div>
</div>
