body {
  margin: 0;
}

.loader {
  margin: 20% auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #111111; 
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#hero-image-wrapper {
  background-color: #cccccc;
  background-image: url("http://res.cloudinary.com/dokawurtl/image/upload/c_scale,e_grayscale,h_500/v1490803565/coffee_shop_demo/coffee-shop-hero-image_h0bvva.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin: 0;
  min-height: 300px;
  width: 100%;
}

#hero-image-wrapper h1 {
  color: #DDD;
  font-family: 'Marcellus SC', serif;
  font-size: 3.5rem;
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
}

#footer {
  align-items: center; 
  background-color: #000;
  bottom: 0px;
  color: #FFF;
  display: flex;
  height: 100px;
  left: 0px;
  position: fixed;
  width: 100%;
}

#footer-logo {
  flex: 0 1 30%;
  font-family: 'Marcellus SC', serif;
  font-size: 36px;
  padding-left: 10px;
}

#footer-social-icons {
  flex: 0 1 70%;
}
