body {
  margin: 0;
  overflow-x: hidden;
}

.loader {
  margin: 20% auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #111111; 
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#hero-image-wrapper {
  background-color: #cccccc;
  background-image: url("http://res.cloudinary.com/dokawurtl/image/upload/c_scale,e_grayscale,h_500/v1490803565/coffee_shop_demo/coffee-shop-hero-image_h0bvva.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin: 0;
  min-height: 300px;
  width: 100%;
}

#hero-image-wrapper h1 {
  color: #DDD;
  font-family: 'Marcellus SC', serif;
  font-size: 3.5rem;
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
}

menu {
  padding: 0;
  width: 80%;
  margin: 0 auto;
}

#footer {
  background-color: #000;
  color: #FFF;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
}

#footer-logo {
  flex: 0 1 50%;
  font-family: 'Marcellus SC', serif;
  font-size: 36px;
}

#footer-logo h3 {
  margin-left: 10px;
}

#footer-social-icons {
  font-size: 36px;
  flex: 0 1 50%;
  
}

#footer-social-icons a {
  color: #FFF;
  text-align: right;
  margin-left: 20px;
}

#icons-wrapper {
  width: 50%;
  margin: 45px auto 0 auto;
}

/* Media Queries*/
@media screen and (max-width: 550px) {
  my-app { 
    min-height: 400px;
  }
  
  #hero-image-wrapper {
    min-height: 200px;
  }
  
  #footer {
    height: 140px;
  }
  
  #footer-logo {
    font-size: 20px;
    text-align: center;
    flex: 0 1 100%;
    margin-top: 5px;
  }
  
  #footer-social-icons {
    font-size: 36px;
    flex: 0 1 100%;
    margin: 10px 0 10px 0;
  }
  
  #icons-wrapper {
    width: 100%;
    font-size: 30px;
    margin: 0 auto 5px auto;
    text-align: center;
  }
}
